/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Variables */

:root {
    --ff-primary: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --clr-accent: #854DFF;
    --clr-error: #FF5959;
    --clr-black: #151515;
    --clr-gray: #716F6F;
    --clr-lightgray: #F0F0F0;
    --clr-line: #DCDCDC;
    --clr-purewhite: #ffffff;
}

body {
    background-color: var(--clr-lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--ff-primary);
}

main {
    background-color: var(--clr-purewhite);
    width: 21.5rem;
    padding: 3rem 1.5rem;
    border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    color: var(--clr-gray);
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
}

input {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-line);
    color: var(--clr-black);
    width: 100%;
}

input:active, input:focus {
    outline: none;
    border: 1px solid var(--clr-accent);

}

input, input::placeholder {
    font-weight: var(--fw-bold);
    font-size: 1.25rem;
    color: var(--clr-black);
    letter-spacing: 0.0125rem;
    caret-color: var(--clr-accent); 
    cursor: pointer;
}

input::placeholder {  
    opacity: 0.5; 
}

.divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--clr-accent);
    position: relative;
    z-index: 5;
    border: none;
}

button:hover, button:active{
    background-color: var(--clr-black);
    cursor: pointer;
}

hr {
    position: absolute;
    width: 100%;
    border: 1px solid var(--clr-line);
    transform: translateY(-50%);
}

img {
    width: 1.5rem;
    height: 1.5rem;
    
}

.results {
    font-weight: var(--fw-extrabold);
    font-size: 3.5rem;
    line-height: 110%;
    letter-spacing: -0.07rem;
    font-style: italic;
}

.results > div {
    display: flex;
    gap: 0.5rem;
}

.results-output {
    display: block;
}

.highlight {
    color: var(--clr-accent);
}

#error-msg-mobile {
    font-size: 0.75rem;
    color: var(--clr-error);
    font-size: 0.75rem;
    font-style: italic;
    font-weight: var(--fw-regular);
    line-height: normal;
}


/* Desktop 1440PX */
@media screen and (min-width: 90rem) {
    main {
        width: 45.5rem;
        padding: 3.5rem;
        border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
        gap: 2rem;
    }

    form {
        gap: 2rem;
        justify-content: left;
    }

    input {
        width: 7rem;
    }
}




.hidden {
    display: none;
}