/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Variables */

:root {
    --ff-primary: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;

    --clr-accent: #854DFF;
    --clr-error: #FF5959;
    --clr-black: #151515;
    --clr-gray: #716F6F;
    --clr-lightgray: #F0F0F0;
    --clr-line: #DCDCDC;
    --clr-purewhite: #ffffff;
}

body {
    background-color: var(--clr-lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--ff-primary);
}

main {
    background-color: var(--clr-purewhite);
    width: 22.5rem;
    padding: 3rem 1.5rem;
    border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    justify-content: space-between;
}

form > div {
    display: flex;
    flex-direction: column;
}

.divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.arrow {
    /* padding: 2rem; */
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--clr-accent);
    position: relative;
    z-index: 5;

}

hr {
    position: absolute;
    width: 100%;
    border: 1px solid var(--clr-line);
    transform: translateY(-50%);
}

img {
    width: 1.5rem;
    height: 1.5rem;
    
}

.results {
    font-weight: var(--fw-extrabold);
    font-size: 3.5rem;
}

.results > div {
    display: flex;
    gap: 0.5rem;
}

.results-output {
    display: block;
}

.highlight {
    color: var(--clr-accent);
}